version: '3.9'

services:
  postgres:
    container_name: postgres
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: evolution
      POSTGRES_PASSWORD: evolution123
      POSTGRES_DB: evolution
    volumes:
      - postgres_data:/var/lib/postgresql/data

  evolution-api:
    container_name: evolution_api
    image: atendai/evolution-api:v2.1.1
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SERVER_URL=http://34.95.178.75:8080
      - AUTHENTICATION_API_KEY=versace-evolution-2024
      - DATABASE_PROVIDER=postgresql
      - DATABASE_CONNECTION_URI=postgresql://evolution:evolution123@postgres:5432/evolution?schema=public
      - DATABASE_CONNECTION_CLIENT_NAME=evolution
      - LOG_LEVEL=ERROR,WARN
      - DEL_INSTANCE=false
      - CORS_ORIGIN=*
    volumes:
      - evolution_instances:/evolution/instances
    depends_on:
      - postgres

volumes:
  postgres_data:
  evolution_instances:
